
/**
 * Grid
 */
#grid {

  /* Dimensions - same width as your grid with gutters */
  box-sizing:border-box;
  width: 972px;
  z-index:100;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;

  /* Grid (left-aligned)
  position: absolute;
  top: 0;
  left: 0;
   */

  /* Grid (centered) */
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -486px;

}

/**
 * Vertical grid lines
 *
 * Set the column width taking the borders into consideration,
 * and use margins to set column gutters.
 */
#grid div.vert {
  background: rgba(250,121,121,0.25);
  border: solid rgba(250,121,121,0.5);
  border-width: 0 1px;
  box-sizing:border-box;
  margin-right: 27px;
  width: 84px;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
}

#grid div.vert.first-line{
  margin-left: 0px;
}

#grid div.vert:nth-child(9) {
  margin:0;
}


/**
 * Horizontal grid lines, defined by your base line height
 *
 * Remember, the CSS properties that define the box model:
 * visible height = height + borders + margins + padding
 */
#grid div.horiz{
  border-bottom: 1px dotted rgb(200,200,200);
  box-sizing:border-box;
  height: 18px;
  margin: 0;
  padding: 0;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
}

/**
 * Classes for multiple grids
 *
 * When using more than one grid, remember to set the numberOfGrids 
 * option in the hashgrid.js file.
 */
/*#grid.grid-1 div.vert{

  border-color: darkturquoise;

}*/

#grid.grid-2{

  /* Adjustments */
  padding: 0 160px;
  width: 660px;

}
#grid.grid-2 div.vert{

  /* Vertical grid line colour for grid 2 */
  border-color: crimson;

}

